TicketBai.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TicketBai">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Ticket">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="xs:unsignedInt" />
							<xs:element name="Data" type="xs:string" />
							<xs:element name="Saila" type="xs:string" />
							<xs:element name="Saltzailea" type="xs:string" />
							<xs:element name="Produktua">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Izena" type="xs:string" />
										<xs:element name="Kantitatea" type="xs:decimal" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Totala" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="DataOrain" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>